@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
body {
    font-family: monospace;
    background-color: #ccc;
    background-size: cover;
}

.background {
    margin-right: 50 px;
}

a,
a:visited {
    color: #93291b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

h1 {
    font-family: 'Vollkorn', serif;
    line-height: 1.25;
    margin: 0 0 10px;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-family: 'Vollkorn', serif;
    line-height: 1.25;
    margin: 0 0 10px;
    font-size: 35px;
    font-weight: bold;
}

p {
    font-family: monospace;
    line-height: 1.25;
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: bold;
}

h1 a,
h1 a:visited {
    color: #333333
}

h1 a:hover {
    color: #93291b;
    text-decoration: none;
}

a.read-more {
    background-color: #93291b;
    border: 1px solid #333333;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 1px #93291b inset;
    color: #f5f5f5;
    padding: 5px;
}

a.read-more:hover {
    background-color: #be3523;
    border-radius: 3px 3px 3px 3px;
    text-decoration: none;
}


/* Style inputs, select elements and textareas */


/* input[type=text],
select,
textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
} */


/* Style the label to display next to the inputs */

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


/* Style the submit button */

img {
    background-image: url("/assets/img/wowstar.gif");
    color: white;
    padding: 12px 20px;
    border: 30px;
    border-radius: 40px;
    cursor: pointer;
    float: left;
    border-top: 6px;
    max-width: 230;
    max-height: 130;
}


/* Style the container */

.container {
    border-radius: 5px;
    /* background-color: #ffffff; */
    padding: 50px;
}


/* Style the container */


/* form {
    border-radius: 5px;
    background-color: #fcfcfc5d;
    padding: 10px;
    width: 500px;
} */


/* Floating column for labels: 25% width */

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}


/* Floating column for inputs: 75% width */

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/* Audio Player Styles
================================================== */


/* Default / Desktop / Firefox */

audio {
    margin: 20px 15px 20px 14px;
    width: 400px;
}

ul li {
    list-style-type: none;
}

#audio0 {
    display: flex;
}

#mainwrap {
    /* add box-shadow or other styles here */
}

#audiowrap {
    background-color: yellow;
    margin: 20 auto;
    /* display: table-footer-group; */
}

#plwrap {
    /* margin: 0 auto; */
}

#tracks {
    /* min-height: 20px; */
    /* position: relative; */
    text-align: left;
    text-decoration: none;
    /* top: 13px; */
}

#nowPlay {
    /* display: contents; */
    margin: 0;
    padding: 0;
    text-align: left;
    /* font-size: 40px; */
    font-family: monospace;
    background-color: yellow;
}

#npTitle {
    margin: 0;
    /* padding: 21px; */
    font-size: 51;
    font-family: monospace;
    text-align: right;
}

#npAction {
    padding: 21px;
    position: relative;
}

#plList {
    margin: 0;
}

#plList li {
    /* background-color: #231F20; */
    cursor: pointer;
    margin: 0;
    padding: 21px 0;
}

#plList li:hover {
    /* background-color: #262223; */
}

.plItem {
    position: relative;
    font-size: 25px;
    font-weight: bold;
}

.plTitle {
    text-size-adjust: 200px;
    left: 50px;
    overflow: hidden;
    position: relative;
    right: 65px;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
}

.plNum {
    padding-left: 21px;
    width: 25px;
}

.plLength {
    padding-left: 21px;
    position: absolute;
    right: 21px;
    top: 0;
}

.plSel,
.plSel:hover {
    /* background-color: #262223!important; */
    cursor: default!important;
}

a[id^="btn"] {
    /* background-color: #231F20; */
    color: rgb(1 1 1);
    cursor: pointer;
    font-size: 50px;
    margin: 0;
    /* padding: 0 27px 11px; */
    /* text-decoration: none; */
}

a[id^="btn"]:last-child {
    margin-left: -4px;
}

a[id^="btn"]:hover,
a[id^="btn"]:active {
    /* background-color: #262223; */
}

a[id^="btn"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}