@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES:wght@400;900&display=swap');

html {
  font-size: 14px;


}

.playwrite-es-heavy {
  font-family: "Playwrite ES", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/MetalMania-Regular.ttf') format('truetype');
  font-color: rgb(225, 45, 45);
}

/* Make the h1 font as wide as the screen */
h1 {
  font-family: "Playwrite ES", system-ui;
  font-size: 9vw;

  color: rgba(225, 225, 225, .01);
  background-image: url("/img/2c46b362f1e73850ae343993b3ce839a.gif");
  background-color: rgb(221, 227, 51);
  /* background-repeat: repeat; */
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 150s ease-in-out infinite;
  text-align: center;
  /*   text-transform: uppercase; */
  font-weight: 900;

}

.bg-secondary {
  --bs-bg-opacity: 1;
  background-image: url("/img/tapet.gif");
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  /*  Rounded corners please */
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}


.artist-entry {
  margin-bottom: 20px;
  text-align: center;
  font-size: 6vw;
}

@keyframes animate {

  0%,
  100% {
    background-position: left top;
  }

  25% {
    background-position: right bottom;
  }

  50% {
    background-position: left bottom;
  }

  75% {
    background-position: right top;
  }
}

h2 {
  font-family: "Playwrite ES", system-ui;
  font-size: 7vw;
}

h3 {
  font-family: "Playwrite ES", system-ui;
  /* font-family: 'CustomFont', Fallback, sans-serif; */
  font-size: 3vw;
  color: rgb(231, 231, 231);
  text-shadow: 2px 2px 4px rgb(15, 15, 15);
  margin-bottom: 30px;
}

p {
  font-size: 2.5vw;
}
h4,p {
font-family: "Roboto", system-ui;  /* font-size: 2vw; */
  color: rgba(255, 255, 255, 0.541);
  margin-bottom: 20px;
}


.col-12 {
  margin-bottom: 50px;
}

.song-entry {
  margin-bottom: 20px;
  text-align: center;
/*   background-image: url("/img/leaf.png");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: left; */
}
label {
  /*  font-family: 'CustomFont', Fallback, sans-serif;
   */
  color: rgb(255, 252, 252);
  font-size: 5.2rem;
  font-family: "Playwrite ES", cursive;
}

ul {
  color: aliceblue;
  list-style-type: none;

}

img {
  width: 200px;
  height: auto;
  border-radius: 5%;
  border-width: 2px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

mediumrare {
  max-width: 1220px;
}

tr {
  color: rgb(255, 252, 252);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(163, 112, 112);
 /*  background-image: url('/img/SjzWsXn.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.leaf {
  height: 10em;
  width: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  background: #000;
}