@page "/404"

<div class="text-center container">
    <h2>404 Nothing here</h2>
    <img src="/img/tumblr_nrzcp9gWwD1sk87juo1_500.gif" alt="404" />
    <p>You have found a calm spot, there is no music on this page but you can take this moment to breathe deep and take a little break. We'll still be here later.</p>
</div>

