@page "/about"

<h1>Acid December</h1>
<h2>Whats all this then?</h2>
<p>Acid December is an multidimensional holiday observed subconciously by all cultures and religions, by listening to and creating Acid immidiate inner peace is achieved, as well as making us look more attractive and say more interesting things. <b>devsound</b> got this ball rolling way back when and the rest as they say is up to you.</p>
<h2>Team</h2>
<p><b>Nick</b> - maker of plans</p>
<p><b>Seth</b> - toucher of souls</p>
<p><b>Marty</b> - builder of webs and payer of bills</p>
<p></p>
<h2>Legal</h2>
<p>No ownership is expressed or implied, all tracks are owned by their respective owners. License for all material is <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1"><b>CC BY-NC-SA</b></a></p>   
<h2>Tracking</h2>
<p>In future historybooks we are going to be looking at this era of the internet they way we look at the early days of industrialism, when robber barons exploited work force and natural resources for their own gains, only whats happening between you and your cellphone every day is much much worse. We can't change that, but on this page you the viewer is not a commodity. We host on the Google Cloud and in their terms of service it is stated that meta data from Cloud consumtions is not used in their regular data collecting. Even so it's safe to assume a lot of people are keeping track, but not us.</p>
<h2>Github</h2>
<p>Take a peek behind the curtain <a href="https://github.com/artingu/aciddecemberarchives">on the github page</a></p>
```