@page "/{urlyear:int?}/{id:int}"
@model DetailModel
@{
    var Song = Model.Song;
    var cdn = "https://storage.googleapis.com/acid-december2012/2023/";
    ViewData["Title"] = Song?.Title + " by " + Song?.Artist + " on Acid december";

    ViewData["ImageLink"] = $"{cdn}{Song?.ImageLink}";

}
<!-- Show the details of a song -->
<div class="text-center container">
    <h1>ACID DECEMBER</h1>

    <div class="container">
        <img src="https://storage.googleapis.com/acid-december2012/@Model.Year/@Song.ImageLink" alt="A picture for the song">
      @*   <audio controls>
            <source src="https://storage.googleapis.com/acid-december2012/2023/@Song.Tune">
        </audio> *@
        <h2>@Song?.Title</h2>
        <h2>@Song?.Artist</h2>
        @if (Song?.Artistlink !="")
        {
         <h3>  <a href="https://@Song?.Artistlink">Hear more from @Song?.Artist</a>  </h3>
        }
       
       @if (Song?.Html !="")
        {
            <h3>@Html.Raw(Song?.Html)</h3>
        }
    
    @if (Song?.Tune !=""){
       <h3> <a href="https://storage.googleapis.com/acid-december2012/@Model.Year/@Song.Tune" download>Download this tune</a> </h3>
}
    </div>
</div>
