@page
@model FileUploadModel
@{
    ViewData["Title"] = "Upload stuff";
}
<div class="container">
    <h2>Files</h2>

    @if (ViewData["UploadSuccess"] != null)
    {
        <div class="alert alert-success">
            @ViewData["UploadSuccess"]
        </div>
    }


    <h3>Files in 2024 Bucket</h3>
    <p>
      
        <table class="table">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Size</th>

                </tr>
            </thead>
            <tbody>
                    @foreach (var obj in Model.BucketObjects)
                    {
                    <tr>
                        <td>@obj.Name</td>
                        <td>@obj.Size</td>
                    </tr>
                    }
            </tbody>
        </table>
       
            </p>
             <h3>Upload File</h3>
            <form method="post" enctype="multipart/form-data" asp-page-handler="UploadFile">
                <div class="form-group">
                    <label asp-for="File"></label>
                    <input type="file" asp-for="File" class="form-control" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Upload File</button>
            </form>
 
        


            @section Scripts {
            <partial name="_ValidationScriptsPartial" />
            }

    </div>