@page
@model IndexModel
@{
    ViewData["Title"] = "Acid december";
}

<div class="text-center">
    <h1>ACID DECEMBER</h1>
    <p>It's so dark. Who can help us? You can! Please email acid@datapop.se with your track, name, picture if you want, link to your music. <3 </p>
    <img src="img/_1c9459a5-2f32-4f2b-93c9-6dfdbf8f5d34.jpeg" class="logo" />
<!-- a webpart that displays the calendar for december 2023 
