@page
@model IndexModel
@{
    ViewData["Title"] = "Acid december";
}

<div class="text-center">
    <h1>ACID DECEMBER</h1>
    <p>It's so dark. Who can help us? You can! Please email acid@datapop.se with your track, name, picture if you want, link to your music. <3 </p>
    <img src="img/_57b26574-11c6-4b6a-84d7-de0789a3c33a.jpeg" class="logo" />
<!-- a webpart that displays the calendar for december 2023 
