@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our feelings about tracking is that we don't like it. Thats why there are no cookies to accept. Enjoy the music!</p>