@page "/Index"
<div class="text-center container">
    <h1>Acid December</h1>

    <div class="container">
        <img src="https://storage.googleapis.com/acid-december2012/2024/Designer.png" alt="Acid December 2024" />
        <p>It's done! 2024 edition of Acid December is in the bag and what a year it was. It's the best feeling getting
            to
            hear what goes on in your heads.
        </p>
    </div>
</div>
