@page "/splash"

<div class="text-center container">
    <h1>Acid December</h1>

@*     <div class="video-container">
        <video id="splashVideo" width="1200px" height="670px" controls background="black" style="object-fit: cover;"
            border="0">
            <source src="https://storage.googleapis.com/acid-december2012/2024/Aci2web.mp4" type="video/mp4" />
            <!-- This is A acid house video -->
        </video>
    </div>

    @section Scripts {
        <script>
            const vid = document.getElementById("splashVideo");
            vid.addEventListener("ended", function () {
                window.location.href = "/2024"; // Adjust path as needed
            });
        </script>
    }
 *@
<img src="https://storage.googleapis.com/acid-december2012/2024/Designer.png" alt="Acid December 2024"/>
    <p>It's done! 2024 edition of Acid December is in the bag and what a year it was. It's the best feeling getting to
        hear what goes on in your heads.


        Thank you for your attention! // Team Acid Dec</p>
</div>