@page "/splash"

<div class="text-center container">
    <h1>Acid December</h1>

@*     <div class="video-container">
        <video id="splashVideo" width="1200px" height="670px" controls background="black" style="object-fit: cover;"
            border="0">
            <source src="https://storage.googleapis.com/acid-december2012/2024/Aci2web.mp4" type="video/mp4" />
            <!-- This is A acid house video -->
        </video>
    </div>

    @section Scripts {
        <script>
            const vid = document.getElementById("splashVideo");
            vid.addEventListener("ended", function () {
                window.location.href = "/2024"; // Adjust path as needed
            });
        </script>
    }
 *@
<img src="https://storage.googleapis.com/acid-december2012/2024/Designer.png" alt="Acid December 2024"/>
    <p>It's done! 2024 edition of Acid December is in the bag and what a year it was. It's the best feeling getting to
        hear what goes on in your heads.

        Thank you for your attention! // Team Acid Dec</p>
        <p>
What?  you want more?? We got you fam, work is now in progress to add old tracks that haven't been online before. Take a peek at the brand new <a href="/2012">/2012</a>  page!   If you know anything about these old relics and want bandpage etc added do not hesitate to get in touch!</p>
</div>