@page "/splash"

<div class="text-center container">
    <div class="video-container">
        <video id="splashVideo" width="1200px" height="670px" controls background="black" style="object-fit: cover;"
            border="0">
            <source src="https://storage.googleapis.com/acid-december2012/2024/Aci2web.mp4" type="video/mp4" />
            <!-- This is A acid house video -->
        </video>
    </div>

    @section Scripts {
        <script>
            const vid = document.getElementById("splashVideo");
            vid.addEventListener("ended", function () {
                window.location.href = "/2024"; // Adjust path as needed
            });
        </script>
    }
</div>