@page "/splash"
@model SplashModel
<div class="text-center container">
    <h1>Acid December</h1>

@*     <div class="video-container">
        <video id="splashVideo" width="1200px" height="670px" controls background="black" style="object-fit: cover;"
            border="0">
            <source src="https://storage.googleapis.com/acid-december2012/2024/Aci2web.mp4" type="video/mp4" />
            <!-- This is A acid house video -->
        </video>
    </div>

    @section Scripts {
        <script>
            const vid = document.getElementById("splashVideo");
            vid.addEventListener("ended", function () {
                window.location.href = "/2024"; // Adjust path as needed
            });
        </script>
    }
 *@/

  

<h3>
  @foreach (var song in Model?.Songs)
  {
    <div class="col-12">
      @song.Artist
    </div>
  }
</h3>

</div>
